// Register Button
.registerButton {
  margin: 0% !important;
  background-color: #00000066 !important;
  border-radius: 0 !important;
  width: 50% !important;
}

.homeButton {
  margin: 0% !important;
  background-color: #00000066 !important;
  border-radius: 0 !important;
  width: 50% !important;
}