<ion-header no-border-bottom>
  <ion-navbar>
    <ion-title text-center>Profiel</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="gridMenu">
    <ion-col col-12 class="menuCol">
      <div class="alignCenter">
        <img *ngIf="!myphoto" src="../assets/imgs/Portrait_Placeholder.png" class="avatar-profiel" (click)="presentActionSheet()" />
        <img *ngIf="myphoto " src="{{ myphoto }}" class="avatar-profiel" (click)="presentActionSheet()" />
          <h5 class="usernameProfiel" (click)="presentActionSheet()">Foto Wijzigen</h5>
      </div>
    </ion-col>

  </ion-grid>



  <ion-item>
    <ion-label color="dark" stacked>Gebruikersnaam</ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="dark" stacked>Email</ion-label>
    <ion-input type="email" placeholder=""></ion-input>
  </ion-item>

  <h6 class="wachtwoordWijzigen" (click)="wijzigWachtwoord()">Wijzig Wachtwoord</h6>

</ion-content>
