page-feed {

}

.itemdescription
{
  word-spacing: -1px!important;
  text-align: center;
  font-size: 25px!important;
  line-height: 1.1em!important;
}

hr {
  border: solid gray 0.1px;
  background: gray !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}
