<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!isSearchbaropened">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbaropened">Home</ion-title>
    <ion-searchbar #searchbar *ngIf="isSearchbaropened" [showCancelButton]="true" (ionCancel)="resetChanges()" (ionInput)="search($event)" placeholder="Waar zijn we naar op zoek?" class="slideInRight"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="isSearchbaropened=true">
        <ion-icon name="search" *ngIf="!isSearchbaropened"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="datepicker" color="dark">
    <ion-segment-button value="vandaag" (click)="load()">
      Vandaag
    </ion-segment-button>
    <ion-segment-button value="gisteren" (click)="loadYesterday()">
      Gisteren
    </ion-segment-button>
    <ion-segment-button value="driedagengeleden" (click)="load3DaysAgo()">
      3 dagen geleden
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <!-- <div *ngIf="!this.items">
    <p>Er zijn geen artikelen gevonden op basis van zoek termen!</p>
    <button ion-button color="light" (click)="resetChanges()">Klik hier om terug te gaan</button>
  </div> -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let item of items" (click)="viewEntry({ record: item })">
    <ion-card *ngIf="item.verborgen != '1'">
      <div class="ion-card-image-wrapper">
        <img *ngIf="!item.image" src="../assets/imgs/noimage.jpg">
        <img [src]="item.image" *ngIf="item.site == 'NOS.nl'" class="transformFoto">
        <img [src]="item.image" *ngIf="item.site == 'NU.nl'" class="transformFoto">
        <img [src]="item.image" *ngIf="item.site != 'NOS.nl' || item.site != 'NU.nl'">
      </div>
      <ion-card-content>
        <div *ngIf="rol == 1">
          <ion-fab right *ngIf="item.site == 'De Telegraaf'">
            <button ion-fab mini (click)="setHideArticle(item.id)" class="ColorTelegraaf">
              <ion-icon name="eye"></ion-icon>
            </button>
          </ion-fab>
          <ion-fab right *ngIf="item.site == 'NOS'">
            <button ion-fab mini (click)="setHideArticle(item.id)" class="ColorNOS">
              <ion-icon name="eye"></ion-icon>
            </button>
          </ion-fab>
          <ion-fab right *ngIf="item.site == 'NU.nl'">
            <button ion-fab mini (click)="setHideArticle(item.id)" class="ColorNU">
              <ion-icon name="eye"></ion-icon>
            </button>
          </ion-fab>
        </div>

        <ion-card-title class="TitleFeed" *ngIf="rol != 1">
          <strong>{{item.title}}</strong>
        </ion-card-title>
        <ion-card-title class="editTitleFeed" *ngIf="rol == 1">
          <strong>{{item.title}}</strong>
        </ion-card-title>
        <p>{{htmlToPlaintext(item.description) | slice:0:120}}...</p>
      </ion-card-content>
      <ion-item class="BadgesFeed">
        <ion-icon name="contact" item-start></ion-icon>
        <ion-badge item-end *ngIf="item.site == 'De Telegraaf'" class="ColorTelegraaf">{{item.site}}</ion-badge>
        <ion-badge item-end *ngIf="item.site == 'NOS'" class="ColorNOS">{{item.site}}</ion-badge>
        <ion-badge item-end *ngIf="item.site == 'NU.nl'" class="ColorNU">{{item.site}}</ion-badge>
      </ion-item>
      <ion-item class="BadgesFeed">
        <ion-icon name="time" item-start></ion-icon>
        <ion-badge item-end *ngIf="item.site == 'De Telegraaf'" class="ColorTelegraaf">{{item.datum}}</ion-badge>
        <ion-badge item-end *ngIf="item.site == 'NOS'" class="ColorNOS">{{item.datum}}</ion-badge>
        <ion-badge item-end *ngIf="item.site == 'NU.nl'" class="ColorNU">{{item.datum}}</ion-badge>
      </ion-item>

    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
