<ion-header>
  <meta charset="UTF-8">
  <ion-navbar class="nieuwsNavTitle">{{this.title}}</ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="nieuwsCard">
    <img *ngIf="!this.image" src="../assets/imgs/noimage.jpg">
    <img src="{{this.image}}">
    <ion-card-header class="headerText" text-wrap>
      {{this.title}}
      <p class="nieuwsDatum">{{this.datum}}</p>
    </ion-card-header>

    <ion-card-content>

      <p>{{htmlToPlaintext(this.description)}}</p>


      <button (click)="openPagina(this.link)" ion-button round *ngIf="this.site == 'De Telegraaf'" class="ColorTelegraaf">{{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button round *ngIf="this.site == 'NOS'" class="ColorNOS">{{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button round *ngIf="this.site == 'NU.nl'" class="ColorNU">{{this.site}}</button>
    </ion-card-content>
  </ion-card>
</ion-content>
